h1{
    text-align: center;
}

.button-class{
    font-size: 2em;
    text-decoration: none;
    
}
/* How to get rounded corner input boxes
https://codepen.io/HTML_CSS_JavaScript/pen/QvbzmZ*/
.rounded-corners{
    border-radius: 10px;
    border: 1px solid light-grey;
    padding: 20px; 
    width: 200px;
    height: 15px;  
}
